:root {
    --formCol: #020301;
    --formBg : #e9e9e9;
    --formEmph : #2C9107;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
}
.input {
    width: 60%;
    padding: 10px;
    color: var(--formCol);
    background-color: var(--formBg);
    border: 0;
    border-bottom: 2px solid var(--formEmph);
    font-size: large;
    font-family: 'Varela Round', sans-serif;
}
.input:focus, .button:focus {
    outline: none;
}
.button {
    margin-left: 15px;
    background-color: var(--formBg);
    color: var(--formCol);
    padding: 10px;
    font-size: large;
    border: 0;
    border-bottom: 2px solid var(--formEmph);
    font-family: 'Varela Round', sans-serif;
}
.button:hover {
    cursor: pointer;
}

.loading {
    width: 30px;
    padding: 0;
}

